.category{
    padding: 2rem;
    margin-top: 1rem;
    background-color: white !important;
}

.title{
    font-size: x-large!important;
    margin-bottom: 1rem !important;
    font-weight: bold !important;
}

.list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

}