.tagLine{
    /* margin: 9rem !important; */
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: rgb(61, 61, 61) !important;
    width: auto;
}
.subtitle{
    font-size: 11px !important;
    color: rgb(94, 94, 94);
    margin-bottom: 1rem !important;
    width: 20rem;
    background-color: white;
    padding: 0.5rem !important;
    border-radius: 10px;
}
.header{
    /* height: 90vh; */
    background: linear-gradient(rgba(177, 177, 177, 0.247), rgba(231, 231, 231, 0.253)), url("../../assets/food.jpg");
    background-position: center;
    background-size: cover;
    padding: 3rem;
    display: flex;
}

.headerLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 1rem;
}

.btn{
    text-transform: initial !important;
    background-color: #daeeff !important;
    width: fit-content;
    color: rgb(37, 37, 37) !important;
}
.btn:hover{
    background-color: rgb(240, 240, 240) !important;
}
.headerRight{
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone{
    height: 30rem;
    width: auto;
}

.cardSection{
    display: grid;
    column-gap: 10px;
    grid-auto-flow: column;
    padding: 1rem 0;
    overflow-x: auto;
    overflow-y: hidden;
    width: auto;
    margin: 0 0.5rem;
}

.matter{
    padding: 2rem;
    display: flex;
}
.matterLeft, .matterRight{
    flex: 1;
    padding: 1rem;
}
.matterLeft p{
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: rgb(44, 44, 44) !important;
}

.matterRight p{
    color: gray !important;
    font-weight: 100 !important;
    width: 25rem !important;
    font-size: larger !important;
}

.matterBtn{
    text-transform: initial !important;
    background-color: white !important;
    width: fit-content;
    color: rgb(37, 37, 37) !important;
    border: 1px solid black !important;
    margin: 1rem 0 !important;
}
.matterBtn:hover{
    background-color: rgb(240, 240, 240) !important;
}
@media only screen and (max-width: 730px){
    .matter{
        flex-direction: column;
    }
    .matterRight p{
        width: auto !important;
    }
}
@media only screen and (max-width: 829px){
    .header{
        flex-direction: column;
        padding: 1rem;
    }
    .headerLeft{
        align-items: center;
    }
    .phone{
        height: 20rem;
    }
    .tagLine{
        font-size: 1.5rem !important;
        font-weight: 300 !important;
        text-align: center;
    }
    .btn{
        margin-top: 0.5rem !important;
    }
    .subtitle{
        text-align: center;
    }
} 