.join{
    height: 100%;
    padding: 1rem;
    background: url("../../assets/join.jpg");
    background-position: center;
    background-size: cover;
    color: white !important;
    display: flex;
    justify-content: center;
}
.join form{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.877);
    padding: 1.5rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.input{
    margin: 0.5rem !important;
    width: 100% !important;
}

.submitBtn{
    width: fit-content !important;
}