.storeCard{
    margin: 1rem;
}
.img{
    border-radius: 5px;
    padding: 1rem;
    width: 18rem;
    height: 14rem;
    margin-bottom: 0.5rem;
}

.img:hover{
    transition: 1s;
    transform: scale(1.05);
}
.ratingContainer{
    display: flex;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
}
.title{
    font-weight: bold !important;
}

.rating{
    font-size: smaller !important;
}
.info{
    font-weight: lighter !important;
    color: rgb(136, 136, 136) !important;
    font-size: small !important;
}