.signup{
    height: 100%;
    display: flex;
}
.signupLeft{
    flex: 1;
    /* background-color: #252a2a; */
    background: url("../../assets/wallpaper1.jpg");
    background-position: center;
    background-size: cover;
}

.signupRight{
    flex: 2;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    max-width: 416px;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #cfcfcf;
}
.title{
    font-size: 2rem !important;
    font-weight: 700 !important;
    color: rgb(78, 94, 186);
}
.signupText{
    font-weight: bold !important;
    font-size: 1.2rem !important;
}
.googleBtn{
    width: inherit !important;
    color: white !important;
    background-color: #4285f4 !important;
    border-radius: 8px !important;
    margin: 1rem 0 !important;
}
.signupRight form{
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
}

.name{
    display: flex;
}
.input:first-child{
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    margin-right: 1rem !important;
}
.input:not(:first-child){
    margin: 0.5rem 0 !important;
}
.submit{
    /* width: fit-content !important; */
    margin: 0.8rem 0 !important;
    border-radius: 8px !important;
    padding: 0.8rem !important;
    /* width: fit-content !important; */
    text-transform: initial !important;
}


@media only screen and (max-width: 736px){
    .signupLeft{
        display: none;
    }
    .signupRight{
        padding: 2rem 1rem;
    }
}